<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Simulador de Examen - UniPrep</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1>UniPrep</h1>
    <p>Simulador de Examen de Admisión</p>
</header>

<nav>
    <a href="/">Inicio</a>
    <a href="/examen">Examen</a>
    <a href="/universidades">Universidades</a>
    <a href="/consejos">Consejos</a>
</nav>

<main>
    <div class="card">
        <h2>Pregunta 1</h2>
        <p>¿Cuánto es 5 + 7?</p>

        <input type="radio" name="p1"> 10<br>
        <input type="radio" name="p1"> 12<br>
        <input type="radio" name="p1"> 15<br>
        <input type="radio" name="p1"> 20<br>
        <input type="radio" name="p1"> 60<br>
        <input type="radio" name="p1"> 120<br><br>

        <button>Enviar respuesta</button>
    </div>
</main>

</body>
</html>
